.noCart {
  text-align: center;
  padding: 1em;
  margin: 4em auto;
  justify-content: center;
  width: 100%;
  font-size: 18px;
}
.goProducts {
  width: 30vw;
  height: 4em;
  background-color: black;
  a {
    color: white;
  }
}
.goProducts:hover {
  opacity: 0.7;
}

.cartRemove {
  background-color: transparent;
  border: none;
  margin-left:-7px;
}

.cartCheckout {
  width: 60vw;
  margin: 0 auto;
  display: flex;

  .cartList {
    width: 50%;
    padding: 1em;

    .cartProduct {
      display: flex;
      margin: 1em auto;
      width: 100%;
      .cartImage {
        border-radius: 2px;
      }
      //   div imagen
      .cartImg {
        width: 0%;
        // pendiente de editar
        width: auto;
        height: 240px;
      }
      .cartDescription {
        display: flex;
        justify-content: space-between;
        margin: 0 2em;
        width: 50%;

        .cartInfo {
          display: flex;
          flex-direction: column;
          .name {
            color: black;
            font-weight: 700;
            font-family: 'Syne';
          }
          .category {
            color: black;
          }
        }
        .cartPrice {
          font-weight: 700;
        }
      }
    }
  }
  .cartTotal {
    width: 50%;
    padding: 1em;
    .cartDetails{
        display:flex;
        justify-content: space-between;
        .subtotal{
        font-weight:700;
            
        }
        .delivery{
        font-weight:300;

        }
    }
    

  .checkout {
    width: 100%;
    height: 4em;
    background-color: black;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
  }
  .checkout:hover {
    opacity: 0.7;
  }
  .taxes{
      text-align:center;
  }
  }
}


