<<<<<<< HEAD
.container{
    height: 80vh;
    .welcome{
        font-size: 80px;
    }
}
=======
.example{
    
    text-align:center;
    margin:4em auto;
}

.example4{
    border: 2px solid red;
    color:orange;

}
.profile{
    display:flex;
    width: 75%;
    margin: 0 auto;
    border:3px solid blue;
}
.currentInfo{
    margin: 0 auto;
    border:2px solid green;
    text-align:center;
}

.infoUser{
    border:2px solid black;

}
.updateInfo{
    margin: 0 auto;
    border:2px solid orange;
    text-align:center;

}

>>>>>>> develop
