.profile {
  width: 75%;
  margin: 0 auto;
  border: 3px solid pink;
  .navProfile {
    text-align: center;
    font-weight: 700;
    border: 2px solid red;
    font-family: monospace;

    .profile__tab {
      margin-right: 2em;
    }
  }
//   .updateInfo {
//     margin: 0 auto;
//     border: 2px solid orange;
//     text-align: center;
//   }
}

// pedidos
