.example{
    text-align: center;
    width: 70%;
    margin: 40px auto;
    border: 2px solid red;
}

.container__Login{
     padding: 1em;
    border: 2px solid green;
    text-align: center;
    margin: 1em auto;
    max-width: 300px;
}

.userDetails {
    text-align: left;
  }
  .userLabel {
    margin: 1em 0;
    font-weight: 700;
    width: 100%;
    text-transform: uppercase;
  }
  .userData {
    padding: 1em;
    border: 1px solid rgb(3, 18, 24);
    border-radius: 1px;
    width: 100%;
    border-radius: 2px;
    border: 1px solid black;
  }
  .updateBtn {
    width: 100%;
    margin: 1em 0;
    padding: 1em;
    font-weight: 700;
    text-transform: uppercase;
 
  }
  .accessTitle{
    color:black;
      font-size:32px;
  }
  .accessText{
    color:black;
    font-size:14px;
    border-bottom: 1px solid black;
    text-transform: uppercase;
    font-family: 'Archivo', sans-serif;
    word-spacing: 4px;
  }
