.userAccount {
  display: flex;
  .userMenu {
    margin: 2em;
    width:300px;
    position: absolute;
    li {
      display: flex;
      justify-content: space-between;
      width: 240px;
      p {
        margin: 0;
        cursor: pointer;
      }
    }
  }
  .userInfo {
    padding: 1em;
    // border: 2px solid green;
    text-align: center;
    margin: 1em auto;
    max-width: 450px;
    .userMessage {
      margin: 0 auto;
    }
    .userDetails {
      text-align: left;
    }
    .userLabel {
      margin: 1em 0;
      font-weight: 700;
      width: 100%;
      text-transform: uppercase;
    }
    .userData {
      padding: 1em;
      border: 1px solid rgb(3, 18, 24);
      border-radius: 1px;
      width: 100%;
      border-radius: 2px;
      border: 1px solid black;
    }
    .updateBtn {
      width: 100%;
      margin: 1em 0;
      padding: 1em;
      font-weight: 700;
    }
  }
}

.updateBtn{
  cursor: pointer
}