.home {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
  padding: 4em;
  div {
    width: 50%;
  }
  .home__banner, .home__newsletter {
    display: flex;
    justify-content: center;
    width:100%;
    img{
      width:100%;
    }
  }
  .home__duo{
    display:flex;
    width:100%;
    margin: 4em auto; 
    div img {
      width:100%;
    }
  }
  .home__men,
  .home__women {
    height: 600px;
    background-size: cover;
    background-position: center;
    filter: brightness(100%);
    margin: 4em auto 1em;
    div {
      border: 2px solid white;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      font-size: 32px;
      color: white;
      filter: brightness(100%);
      cursor: pointer;
    }
  }
  .home__men {
    background-image: url(https://i.imgur.com/acGG4Rb.jpg);
  }
  .home__women {
    background-image: url(https://i.imgur.com/Bz4vmRT.jpg);
  }
  
  .home__women:hover,
  .home__men:hover {
    filter: brightness(50%);
    transition: all 0.5s ease;
    div {
      color: black;
      border: 2px solid black;
      transition: all 0.5s ease;
    }
  }
}
