
  .ordersInfo {
    padding:2em;
    margin: 0 auto;
    
    text-align: center;
    width: 50vw;
    .order {
       
        padding:2em;
       .orderTitle{
           font-weight: 700;
       }
      // fechas
        .dates {
          display: flex;
          justify-content: space-around;
          
          max-width:30vw;
          margin:0 auto;
          // campo original
          .date {
            font-style: oblique;
          }
          // fecha pedido
          .orderDate {
              font-weight: 700;
            }
          //   fecha entrega
          .deliveryDate{
              font-weight:200;
          }
        }
      }
      // producto
      .article {

        display: flex;
        padding: 1em;
        margin: 1em;
        align-items: center;
        justify-content: center;
    
        .articleImg {
          width: 50%;
          // pendiente de editar
          width: auto;
          height: 160px;
        }
        .articleDescription {
            display: flex;
            flex-direction: column;
            .name {
              color: black;
              font-weight: 700;
            }
            .category {
              color: black;
            }
          }
          .cartPrice {
            font-weight: 700;
          }
        
      }
      
      
  }