// .footer{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
//     background-color: darkcyan;
//     height: 43vh;
//     .footer-up{
//         display: flex;
//         flex-direction: row;
//         justify-content: space-around;
//         width: 100%;
//         padding: 50px 0 50px 0;
//         // border-bottom: 1px solid black;
//         .politicas{
//             width: 20rem;
//             background-color: red;
//             p{
//                 padding-left: 40px;
//             }
//             ul{
//                 list-style: none;
//                 display: flex;
//                 flex-direction: column;
//             }
//         }
//         .contacto{
//             width: 20rem;
//             background-color: blue;
//             p{
//                 padding-left: 40px;
//             }
//             ul{
//                 list-style: none;
//             }
//         }
//         .enlaces-header{
//             width: 20rem;
//             background-color: green;
//             p{
//                 padding-left: 40px;
//             }
//             ul{
//                 list-style: none;
//             }
//         }
//         .enlaces-redes{
//             width: 20rem;
//             background-color: orange;
//             p{
//                 padding-left: 40px;
//             }
//             ul{
//                 list-style: none;
//             }
//         }
//     }
//     .footer-down{
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         flex-direction: column;
//         width: 94%;
//         padding: 20px 0 20px 0;
//         margin: 0;
//         border-top: 1px solid black;
//         p{
//             line-height: 0;
//         }
//     }
// }

.icons{
    a{
        margin-right: 22px;
    }
}

.fa-gem{
    margin-right: 7px;
}

h6{
    color: azure;
}

span{
    color: rgba(240, 255, 255, 0.724);
}

.fa-envelope{
    margin-right: 6px;
}

.bg-dark{
    background-color: black !important;
}